<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <profiles>
        <profile>

    <repositories>
        <repository>
            <id>bintray</id>
            <name>bintray</name>
            <url>http://dl.bintray.com/kotlin/kotlin-eap-1.1</url>
        </repository>
    </repositories>


    <pluginRepositories>
        <pluginRepository>
            <id>bintray</id>
            <name>bintray</name>
            <url>http://dl.bintray.com/kotlin/kotlin-eap-1.1</url>
        </pluginRepository>
        <pluginRepository>
            <id>bintray-kotlin-dokka</id>
            <name>bintray-kotlin-dokka</name>
            <url>http://dl.bintray.com/kotlin/dokka</url>
        </pluginRepository>
    </pluginRepositories>
    
        </profile>
    </profiles>

</settings>
